<div class="container">
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type
        <span class="caret"></span></button>
      <div ng-if="c.data.add_remove" class="text-right">
        Search: <input type="text">
      </div>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0)" ng-click="add_remove('Add')">Add</a></li>
        <li><a href="javascript:void(0)" ng-click="add_remove('Remove')">Remove</a></li>
      </ul>
    </div>
  </div>
  <br ng-if="!c.data.add_remove">
  <br ng-if="!c.data.add_remove">
  <br ng-if="!c.data.add_remove">
  <br>
  <div class="panel panel-default" ng-if="c.data.add_remove">
    <div class="panel-heading">
      <h4 class="panel-title">{{c.data.add_remove}} Contorls</h4>
    </div>
    <div class="panel-body ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Add/Remove</th>
            <th scope="col">Number</th>
            <th scope="col">Control</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in c.data.array">
            <th scope="row"><input type="checkbox" ng-model="i.selected"></th>
            <td>{{i.number}}</td>
            <td>{{i.name}}</td>
          </tr>
      </table>
    </div>
    <div class="panel-footer text-right">
      <ul uib-pagination total-items="c.data.length" ng-change="pageChanged()" ng-model="c.data.currentPage"
        max-size="c.data.maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
    </div>
  </div>
  <button ng-if="c.data.add_remove" class="btn btn-primary" ng-click="submit()">${Submit}</button>
  <button ng-if="c.data.add_remove" class="btn btn-primary" ng-click="cancel()">${Cancel}</button>
</div>