.button {
  margin: 5px;
}

.buttonHighlighted {
  margin:5px;
}

.filter {
  color:rgb(92, 177, 206);
  margin-right: 50px;
}

.in-line {
  white-space: nowrap; 
}

.in-line-child {
  display: inline-block;
}

.alignment {
  text-align: left;
}

.heading {
  margin-left: 20px;
}